/* PC */
@media (min-width: 1024px) {

}

/* Mobile and Tablet */
@media (max-width: 1023px) {
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    .hide-on-mobile-tablet {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .header__sort-bar {
        display: flex;
    }

    .header__cart {
        text-align: right;
        width: 80px;
    }

    .header__cart-list {
        position: fixed;
        right: 0;
        width: 100%;
        top: var(--header-height);
        padding: 0 calc((100% - 644px) / 2);
    }

    .header__cart-list::before {
        display: none;
    }

    .app__container {
        margin-top: calc((var(--header-height)) + (var(--header-sort-bar-height))) ;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .header__logo {
        margin-right: 0;
    }   

    .header__cart {
        text-align: unset;
    }

    .header__mobile-search {
        display: block;
    }

    .header__mobile-checkbox:checked ~ .header__search {
        display: flex;
    }

    .header__logo {
        width: 120px;
        margin-bottom: 0;
    }

    .header__search {
        position: fixed;
        top: var(--header-height);
        right: 0;
        left: 0;
        z-index: 1;
        height: 46px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        padding: 0 16px;
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }

    @keyframes mobileSearchSideIn {
        0% {
            top: calc((var(--header-height)) / 2);
            opacity: 0;
        }

        100% {
            top: calc(var(--header-height));
            opacity: 1;
        }
    }

    .header__search-history {
        position: fixed;
        left: 0;
        width: 100%;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        border-top: 1px solid #f5f5f5;
    }

    .app__content {
        padding-top: 8px;
    }

    .home-product {
        margin: 0 8px;
    }

    .mobile-category {
        display: block;
    }

    .pagination-item {
        margin: 0 2px;
    }

    .pagination-item__link {
        padding: 3px 10px;
        font-size: 1.6rem;
    }

    .footer__content {
        padding: 0 16px;
    }
}